    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <partial name="Partial/_LeftSideBar" />
                </div>
                <div class="col-sm-9">
                    <partial name="Partial/_BlogPostArea" />

                    <partial name="Partial/_RatingArea" />

                    <div class="socials-share">
                        <a href=""><img src="images/blog/socials.png" alt=""></a>
                    </div><!--/socials-share-->

                    <partial name="Partial/_MediaComments" />
                    <partial name="Partial/_ResponseArea" />
                    <partial name="Partial/_ReplayBox" />
                </div>
            </div>
        </div>
    </section>
